.news-list {
  min-height: 600px;

  .news-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }

  .news-content {
    width: 100%;
    color: rgba(0, 0, 0, .85);
    margin-left: 20px;
  }

  .news-info {
    display: flex;
    align-items: center;

    .author {
      color: #646464;
      font-size: 12px;
    }

    .time {
      margin-left: 10px;
      color: #ccc;
      font-size: 12px;
    }

  }

  .list-pagination {
    margin-top: 10px;
  }
}